body {
  margin: 0;
}

#app {
  height: 100vh;
}

.mdl-layout__content {
  height: 100%;
}
.content-flexbox {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  display: flex;
  height: 100%;
  box-sizing: border-box;
}

.index-table {
  border: 1px solid #E0E0E0;
  /*box-shadow: 0px 0px 2px #757575;*/
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  flex-grow: 1;
  margin: 8px;
  overflow-y: scroll;
  box-sizing: border-box;
}

.index-table-row {
  display: flex;
  flex-wrap: nowrap;
  border-bottom: 1px solid grey;
  padding: 3px;
}

.index-table-rox:last-child {
  border-bottom: none;
}

.heading {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 5px;
  /*border-top: 1px solid grey;*/
  /*background: grey;*/
}

.index-table-row .part {

}

a {
  text-decoration: none;
  color: #757575;
}

.part:hover {
  background: #E0E0E0;
}

.col-partnum {
  width: 150px;
  margin-left: 5px;
}

.col-description {
  min-width: 400px;
  flex-grow: 1;
  margin-left: 5px;
}

.col-revision {
  width: 120px;
  margin-left: 5px;
}

.tab-active {
  text-decoration: underline;
}